html {
    font-size: 10px;
}

body {
    font-size: 1.3rem;
    background:  #21262d;
    box-sizing: border-box;
    color: #f0f6fc;
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
}

.wrapper {
    margin-left: auto;
    margin-right: auto;
    padding: 0 0.938rem;
    max-width: 64rem;
}

.section-slider {
    margin-top: 100px;
    padding: 3.813rem 3.125rem;
    background:#30363d;;
    width: 100%;
    border-radius: 0.938rem;
    border: 0.313rem ridge rgb(63, 62, 62)
}

.title-1 {
    color:#f0f6fc;
    text-align: center;
    font-size: 3rem; 
    margin-top: 0;
    margin-bottom: 4rem;
    font-family:'Lucida Sans', sans-serif;
    line-height: 1.2;  
}
.title-2 {
    color:#f0f6fc;
    font-size: 2rem; 
    font-weight: 500;
    margin-bottom: 2rem;
    line-height: 1.2;
}

.slider-wrapper {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: flex-start;
}
/*slider-images*/
.slider-images {
    max-width: 100% ;   
    overflow: hidden;
    margin-bottom: 2.5rem;
    order: 1;
}
.images-wrapper {
    display: flex;
    transition: transform 0.6s ease-in;
}
.images-wrapper img {
    max-width: 64rem;
    border-radius: 2.5rem; 
}

/*slider-content*/
.slider-content {
   overflow: hidden;
   order: 2;
   max-width: 50%;
}
.content-wrapper { 
    display: flex; 
    flex-shrink: 0;  
    transition: transform 0.6s ease-in;
   
}

.content-wrapper.content-title {
 

}
.content-title {
    min-width: 100%; 
    font-size: 2rem;    
}

/*--dots--*/
.dots-wrapper {
    display: flex;
    justify-content: flex-end;
    column-gap: 1.25rem;
    align-items: flex-start;
    width: 30%;
    order: 3;
}
.dot {
    display: none;
}

.custom {
    display: block;
    width: 1.875rem;
    height: 1.875rem;
    border-radius: 50%;
    background-color: red;
    cursor: pointer;
}

.custom:active {
    background: blueviolet;
}

.custom:hover {
    background: rgb(70, 226, 43);
}

.dot:checked + label {
    background: #ed16ad6f;
}


/*---state-checked--*/

/*for images */
.dots-wrapper:has(#dot1:checked) ~ .slider-images .images-wrapper {
    transform: translateX(0);
}
.dots-wrapper:has(#dot2:checked) ~ .slider-images .images-wrapper {
    transform: translateX(-100%);
}
.dots-wrapper:has(#dot3:checked) ~ .slider-images .images-wrapper {
    transform: translateX(-200%);
}
.dots-wrapper:has(#dot4:checked) ~ .slider-images .images-wrapper {
    transform: translateX(-300%);
}

/*for content */
.dots-wrapper:has(#dot1:checked) ~ .slider-content .content-wrapper {
    transform: translateX(0);
}
.dots-wrapper:has(#dot2:checked) ~ .slider-content .content-wrapper {
    transform: translateX(-100% );
}
.dots-wrapper:has(#dot3:checked) ~ .slider-content .content-wrapper {
    transform: translateX(-200% );
}
.dots-wrapper:has(#dot4:checked) ~ .slider-content .content-wrapper {
    transform: translateX(-300%);
}