
body {
    font-size: 1.3rem;
    background:  #21262d;
    box-sizing: border-box;
    color: #f0f6fc;
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
}

.wrapper {
    margin-left: auto;
    margin-right: auto;
    padding: 0 0.938rem;
    max-width: 64rem;
}

.section-slider {
    margin: 10rem auto;
    margin-left: auto;
    margin-right: auto;
    padding: 3.813rem 3.125rem;
    background:#30363d;;
    max-width: 64rem;
    border-radius: 0.938rem;    
}

.title-1 {
    color:#f0f6fc;
    text-align: center;
    font-size: 3rem; 
    margin-top: 0;
    margin-bottom: 4rem;
    font-family:'Lucida Sans', sans-serif;
    line-height: 1.2;  
}

.title-2 {
    color:#f0f6fc;
    font-size: 2.5rem; 
    font-weight: 500;
    margin-bottom: 2rem;
    line-height: 1.2;
}

.slider-wrapper {
    margin: 0 auto;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: flex-start;   
}

/*slider-images*/
.slider-images {
    max-width: 100% ;   
    overflow: hidden;
    margin-bottom: 2.5rem;
    order: 1;
}

.images-wrapper {
    display: flex;
    transition: transform 0.6s linear;
    max-width: 100%;    
}

.images-wrapper img {
    max-width: 100%;
    border-radius: 2.5rem;
    object-fit: cover;   
}

/*slider-content*/
.slider-content {
    max-width: 50%;
   overflow: hidden;
   order: 2;  
}

.content-wrapper { 
    display: flex; 
    flex-shrink: 0;  
    transition: transform 0.6s linear;   
}

.content-title {
    min-width: 100%; 
    font-size: 2rem;    
}

/*--dots--*/
.dots-wrapper {
    display: flex;   
    column-gap: 1.25rem;
    align-items: center;
    max-width: 50%;   
    order: 3;
}

.dot {
    display: none;
}

.custom {
    display: block;
    width: 1rem;
    height: 1rem;
    padding: 1rem;
    border-radius: 50%;
    outline: 0.25rem solid #097df1;
    outline-offset: -0.55rem;
    background-clip: content-box;
    background-color:#097df1;
    transition: all 0.2s linear;
    cursor: pointer;
}

.custom:active {
    outline: 0.25rem solid red;
    background-color: red;
}

.custom:hover {
    outline: 0.25rem solid #f0f6fc;
    background-color:#f0f6fc;     
}
.custom:active {
    outline: 0.25rem solid red;
    background-color: red;
}

.dot:checked + label {
    background-color: transparent;
}

/*---state-checked--*/

/*for images */
.dots-wrapper:has(#dot1:checked) ~ .slider-images .images-wrapper {
    transform: translateX(0);
}
.dots-wrapper:has(#dot2:checked) ~ .slider-images .images-wrapper {
    transform: translateX(-100%);
}
.dots-wrapper:has(#dot3:checked) ~ .slider-images .images-wrapper {
    transform: translateX(-200%);
}
.dots-wrapper:has(#dot4:checked) ~ .slider-images .images-wrapper {
    transform: translateX(-300%);
}

/*for content */
.dots-wrapper:has(#dot1:checked) ~ .slider-content .content-wrapper {
    transform: translateX(0);
}
.dots-wrapper:has(#dot2:checked) ~ .slider-content .content-wrapper {
    transform: translateX(-100% );
}
.dots-wrapper:has(#dot3:checked) ~ .slider-content .content-wrapper {
    transform: translateX(-200% );
}
.dots-wrapper:has(#dot4:checked) ~ .slider-content .content-wrapper {
    transform: translateX(-300%);
}

/*--mobile--*/

@media (max-width: 48rem) {
    .title-1 {
      font-size: 2.8rem;
    }
    .title-2 {
        font-size: 1.6rem;
    }  
    .content-wrapper {
      order: 3;
      max-width: 100%;
    }  
    .dots-wrapper {
      order: 2;
      margin: 0 auto 1.5rem;
      max-width: 100%;
    }
    .slider-images {
        margin-bottom: 1.8rem;  
    }
    .custom {
        width: 0.6rem;
        height: 0.6rem;
    }
    .slider-wrapper {
        flex-direction: column;
    }
    .slider-content {
        max-width: 100%;
    }
}